In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [ ]:
g_key = "AIzaSyCwMmn6USITnKiX6uFWguQD36_HrrEiajY"

In [2]:
gmaps.configure(api_key = "AIzaSyCwMmn6USITnKiX6uFWguQD36_HrrEiajY")

In [3]:
# Load the csv file from Part 1 

cities_df = pd.read_csv("../output_data/cities.csv")
                        
cities_df

,Unnamed: 0,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Itarema,-2.9248,-39.9167,79.30,76,11,12.26,BR,1610244700
1,1,Vaini,-21.2000,-175.2000,84.20,84,75,8.05,TO,1610244702
2,2,Tabas,33.5959,56.9244,28.40,37,0,2.30,IR,1610244703
3,3,Broken Hill,-31.9500,141.4333,86.00,23,0,8.05,AU,1610244704
4,4,Marsabit,2.3284,37.9899,66.31,49,6,8.99,KE,1610244706
...,...,...,...,...,...,...,...,...,...,...
525,525,Wanlaweyn,2.6185,44.8938,70.11,68,0,9.19,SO,1610245596
526,526,Mahon,39.8885,4.2658,51.80,71,20,9.22,ES,1610245597
527,527,Penzance,50.1186,-5.5371,35.01,100,25,6.91,GB,1610245598
528,528,Vila Franca do Campo,37.7167,-25.4333,53.60,58,75,4.61,PT,1610245599
529,529,Yumen,40.2833,97.2000,11.07,87,44,29.28,CN,1610245600

In [4]:
# Humidity Heatmap


humidity = cities_df["Humidity"].astype(float)
locations = cities_df[["Latitude", "Longitude"]]

In [5]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=80, point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Create new DataFrame fitting weather criteria
# Narrow down the cities to fit weather conditions
# Drop any rows will null values.

criteria_df = cities_df.loc[cities_df["Max Temperature"] > 70 & (cities_df["Max Temperature"] < 80)
                           & (cities_df["Cloudiness"] == 0) & (cities_df["Wind Speed"] < 10) , :]

criteria_df = criteria_df.dropna(how="any")
narrowed_df.reset_index(inplace=True)

criteria_df.head()

,Unnamed: 0,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Itarema,-2.9248,-39.9167,79.30,76,11,12.26,BR,1610244700
1,1,Vaini,-21.2000,-175.2000,84.20,84,75,8.05,TO,1610244702
2,2,Tabas,33.5959,56.9244,28.40,37,0,2.30,IR,1610244703
3,3,Broken Hill,-31.9500,141.4333,86.00,23,0,8.05,AU,1610244704
4,4,Marsabit,2.3284,37.9899,66.31,49,6,8.99,KE,1610244706

In [15]:
# Hotel Map

# Store into variable named hotel_df

hotel_df = criteria_df
hotel_df["Hotel Name"] = ""

hotel_df.head()

,Unnamed: 0,City Name,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Itarema,-2.9248,-39.9167,79.30,76,11,12.26,BR,1610244700,
1,1,Vaini,-21.2000,-175.2000,84.20,84,75,8.05,TO,1610244702,
2,2,Tabas,33.5959,56.9244,28.40,37,0,2.30,IR,1610244703,
3,3,Broken Hill,-31.9500,141.4333,86.00,23,0,8.05,AU,1610244704,
4,4,Marsabit,2.3284,37.9899,66.31,49,6,8.99,KE,1610244706,

In [17]:
params = {
    "radius": 5000,
    "types" : "lodging",
    "keyword" : "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError, TypeError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

KeyboardInterrupt:

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]